<!DOCTYPE html>
<!-- saved from url=(0056)http://v3.bootcss.com/examples/starter-template/#contact -->
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

        <title>{{{projectName}}}</title>

        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/bootstrap-switch.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <style type="text/css">
    		body {
    		  padding-top: 50px;
              background: url(/images/324757.jpg) no-repeat 0 -100px fixed;
    		}
    		.starter-template {
    		  padding: 40px 15px;
    		  text-align: center;
    		}
    	</style>
    	
    	
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/stylesheets/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/javascripts/ie10-viewport-bug-workaround.js" ></script>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/bootstrap-switch.min.js"></script>
    </head>

  <body>
	{{{body}}}
  </body>
</html>