<div class="container">
    {{>navigate}}
    <div class="jumbotron">
        <h1 class="cover-heading">每日一碗心灵鸡汤</h1>
        <p class="lead">Your fortune for the day:</p>
        <blockquote>{{fortune}}</blockquote>

    </div>

    <div class="row marketing">

    </div>

    <hr>
</div> <!-- /container -->




