<div class="container">
    {{>navigate}}
    <div class="jumbotron">
        <h1 class="cover-heading">每日一勺心灵鸡汤</h1>
        <p class="lead">Your fortune for the day:</p>
        <blockquote>{{fortune}}</blockquote>

    </div>

    <div class="row marketing">

    </div>

    <hr>
    <footer class="footer">
        <p>© Company 2014</p>
    </footer>

</div> <!-- /container -->




