<div class="site-wrapper">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/component.css" />

    <link rel="stylesheet" href="/css/star-rating.css" />

    <link rel="stylesheet" href="/css/sweet-alert.css" />

    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">每日一勺心灵鸡汤</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="./Cover Template for Bootstrap_files/Cover Template for Bootstrap.html">Home</a></li>
                            <li><a href="./Cover Template for Bootstrap_files/Cover Template for Bootstrap.html">Features</a></li>
                            <li><a href="./Cover Template for Bootstrap_files/Cover Template for Bootstrap.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div id="feedback" class="">
            </div>

            <div class="inner cover">
                <p class="lead">Your fortune for the day:</p>
                <blockquote>{{fortune}}</blockquote>
                <h1 class="cover-heading">每日一勺心灵鸡汤</h1>
            </div>


        </div>

        <div class="mastfoot">
            <div class="inner">
                <p>Cover template for <a href="http://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </div>


    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/store.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/myMain.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/sweet-alert.js"></script>
<script src="/js/star-rating.js"></script>
</div>