<div class="container">
    {{>navigate}}

    <div class="jumbotron">
        <h1>如果您有任何疑问欢迎联系我们</h1>
        <p class="lead">
            lzf@mail.bnu.edu.cn

    </div>

    <div class="row marketing">
    </div>

    <footer class="footer">
        <p>© Company 2014</p>
    </footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./javascripts/ie10-viewport-bug-workaround.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>