<div class="container">
    {{>navigate}}

    <div class="jumbotron">
        <h1>实验已全部结束</h1>
        <p>
            感谢您的参与！祝您心情愉快！您现在可以关闭页面。
        </p>
    </div>

    <div class="row marketing">
    </div>

    <hr>

</div> <!-- /container -->
