<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<link rel="stylesheet" href="/stylesheets/component.css" />

<link rel="stylesheet" href="/stylesheets/star-rating.css" />

<link rel="stylesheet" href="/stylesheets/sweet-alert.css" />

<!-- Custom styles for this template -->
<link rel="stylesheet" href="/stylesheets/cover.css" >

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!--script src="./resources/js/ie-emulation-modes-warning.js"></script-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

 <div class="site-wrapper">

      <div class="site-wrapper-inner">

		<div hidden id="noNameWarning" class="alert alert-warning alert-dismissible in fade" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>提示！</strong>先把名字填好哦！
		</div>
		
		<div hidden id="invalidInputWarning" class="alert alert-warning alert-dismissible in fade" role="alert">
			<strong>提示！</strong>输入不合法！
		</div>
	  
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">心理学测试临时版v0.3</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="./Cover Template for Bootstrap_files/Cover Template for Bootstrap.html">Home</a></li>
                  <li><a href="./Cover Template for Bootstrap_files/Cover Template for Bootstrap.html">Features</a></li>
                  <li><a href="./Cover Template for Bootstrap_files/Cover Template for Bootstrap.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

		  <div id="feedback" class="">
		  </div>
		  
          <div class="inner cover">
            <h1 class="cover-heading">【说明】</h1>
            <p id="countdown" class="lead">欢迎来到本实验。首先进行一个智力测试。对于以下每个题目，每张大的主题图中都缺少一部分，主题图下方有8张小图片，选择其中一个，使整个图案合理而完整，根据选择按1~8号键。如果按下数字键，将会马上进入下一张（非数字键无响应）；否则，每张有20秒倒计时显示，倒计时结束后进入下一张。</p>
			<form id="button" class="form-inline">
				<div class="form-group">
					<label for="exampleInputName2">姓名</label>
						<input type="text" class="form-control" id="userName" placeholder="张三">
				</div>
				<button type="button" class="btn btn-default" onClick = "timedMsg()">开始测试</button>
			</form>
            
			<!--p class="lead">
			  <input id="button" type="button" value="进入测试！" class="btn btn-lg btn-default" onClick = "timedMsg()">
            </p-->
			<div hidden id="player">
				<audio id="myAudio" src='/mp3/荒野の果てへ.mp3' controls='controls' loop='loop'></audio>
			</div>
			<img hidden src="/images/1.jpg" height="500" width="500" alt="图片1"/>
          </div>
		  
		  <div hidden class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2b">
			<span class='hi-icon hi-icon-videos' onclick="playMusic()">Music</span>
		  </div>
		  
		  <div hidden id="rating">
			<input id="heart-rating" type="number" class="rating" min="0" max="5" step="1" data-size="lg" data-symbol="&#xe005;" data-default-caption="{rating} hearts" data-star-captions="{}">
		  </div>
		  
		</div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

		  
        </div>

      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/javascripts/store.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/myMain.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/sweet-alert.js"></script>
	<script src="/javascripts/star-rating.js"></script>
 </div>