<div class="container">
    {{>navigate}}

    <div class="jumbotron">
        <h1>说明</h1>
        <p class="lead" align="left">敬爱的老师：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好！非常感谢您在百忙中抽出时间填写这份问卷。本研究旨在了解中小学教师的一些基本情况，作为教育研究的参考。答案无对错之分，所得资料仅供学术研究之用，请您放心按照您真实的想法作答。因为会随机抽取部分老师来参加后续的智力趣味测验，希望写下您的联系方式，也便于给您进行结果反馈。您的真诚合作将是对我们研究工作的极大支持，谢谢！
        </p>
        <p class="lead" align="right">北京师范大学教育心理与学校咨询所
            <br>2015年4月
        </p>
        <p><a class="btn btn-lg btn-primary" href="info" role="button" data-instant>好</a></p>
    </div>

    <div class="row marketing">
    </div>

    <footer class="footer">
        <p>© Company 2014</p>
    </footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./javascripts/ie10-viewport-bug-workaround.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<script type="text/javascript">
    if (localStorage.pagecount){
        localStorage.pagecount=Number(localStorage.pagecount) +1;
    }
    else{
        localStorage.pagecount=1;//页面访问次数，当做user的唯一键
    }
</script>





