<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">首页</a></li>
                <li role="presentation"><a href="/about">关于我们</a></li>
                <li role="presentation"><a href="./Narrow Jumbotron Template for Bootstrap_files/Narrow Jumbotron Template for Bootstrap.html">联系</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">{{projectName}}</h3>
    </div>

    <div class="jumbotron">
        <h1>说明</h1>
        <p class="lead">敬爱的老师：<br>
            您好！非常感谢您在百忙中抽出时间填写这份问卷。本研究旨在了解中小学教师的一些基本情况，作为教育研究的参考。答案无对错之分，所得资料仅供学术研究之用，请您放心按照您真实的想法作答。因为会随机抽取部分老师来参加后续的智力趣味测验，希望写下您的联系方式，也便于给您进行结果反馈。您的真诚合作将是对我们研究工作的极大支持，谢谢！
            <br>北京师范大学教育心理与学校咨询所
            <br>2015年4月</p>
        <p><a class="btn btn-lg btn-success" href="info" role="button">继续</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>

    <footer class="footer">
        <p>© Company 2014</p>
    </footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./javascripts/ie10-viewport-bug-workaround.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>




