<div class="container">
    {{>navigate}}

    <div class="jumbotron">
        <h1>下面进入正式实验</h1>
        <p class="lead" align="left">欢迎并感谢您来到本实验！实验总共分为三个部分，每一部分都有详细的指导语，请您仔细阅读，按照指导语的提示完成实验。
        </p>
        <p><a class="btn btn-lg btn-primary" href="test" role="button" data-instant>开始实验</a></p>
    </div>

    <div class="row marketing">
    </div>

    <hr>

    <footer class="footer">
        <p>© Company 2014</p>
    </footer>

</div> <!-- /container -->

